
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2 ") format("woff2");
  font-display: swap;
}
body {
  font-family: "PT Sans", sans-serif, "Arial";
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #FFFFFF;
}
.page-header {
  color: #000000;
  background: #FFFFFF;
}
.navigation-link {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: inherit;
  text-decoration: none;
}
.navigation-link-brown  {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  background-color: #756257;
  text-align: center;
  text-transform:uppercase ;
  text-decoration: none;
}
.about-text  {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.promo p {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #333333;
}
.features-item {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background: rgba(131, 179, 211, 0.12);
  text-align: center;
}
.features-item .features-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.features-item-dark-blue {
  background-color: #83B3D3;
}
.features-item-white {
background: #FFFFFF;
}
.features-item-custom-blue {
background: rgba(131, 179, 211, 0.2);
}
.subscribe-title {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.subscribe-button {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #756257;
  border-radius: 10px;
  text-decoration: none;
}
.call-to-action {
  color: #FFFFFF;
  background-color: #83B3D3;
  background-image: url("../images/call-to-action-canyon.jpg");
}
.call-to-action-title {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
.footer-contacts-address-phone {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}
